# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo

# Django
*.log
*.pot
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Virtual Environment
.venv/
venv/
ENV/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# UV
uv.lock
